<div class="landing-card">
  <div class="welcome-banner">
    <h1>wise.me</h1>
    <p>A social network for mentors</p>
  </div>
  <div class="auth-options-wrapper">
    <div class="auth-option login">
      <a href="/login">LOGIN</a>
    </div>
    <div class="auth-option signup">
      <a href="/signup">SIGN-UP</a>
    </div>
  </div>
</div>
